vti_encoding:SR|utf8-nl
vti_author:SR|lin-PC\\lin
vti_modifiedby:SR|lin-PC\\lin
vti_timelastmodified:TR|30 Dec 2014 10:21:34 -0000
vti_timecreated:TR|30 Dec 2014 10:21:34 -0000
vti_cacheddtm:TX|30 Dec 2014 10:21:35 -0000
vti_filesize:IR|846
vti_cachedlinkinfo:VX|S|../images/new_index_countdown_hero.jpg S|../images/digits_small.png S|../images/digits_small@2x.png
vti_cachedsvcrellinks:VX|FSUS|images/new_index_countdown_hero.jpg FSUS|images/digits_small.png NSUS|images/digits_small@2x.png
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|
